# RESOURCES
docs/.idea
docs/node_modules
Resource/DMG
Resource/Designs

# SYS
.DS_Store

# Xcode
xcuserdata
*.xcuserstate
*.xcuserdated
Mos.xcodeproj/project.xcworkspace/xcuserdata/Caldis.xcuserdatad/UserInterfaceState.xcuserstate
